            <div class="col-sm-2 sidenav">
              <ul class="nav nav-pills nav-stacked">
                <% for(var i=0; i<sites.length; i++) { %>
                <% if(active_site === sites[i]['name']) { %>
                       <li class="active"><a href=<%= sites[i]['name'] %>><%= sites[i]['alias'] %></a></li>
                <% } else { %>
                       <li><a href=<%= sites[i]['name'] %>><%= sites[i]['alias'] %></a></li>
                <% } %>
                <% } %>
              </ul>
            </div>
